.home {
    padding: 32px 0px;
    background-color: #232323;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #22223b;
    margin-bottom: 32px;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.movieGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 32px;
    width: 90vw;
    margin: 10px 120px;
    padding: 16px 32px;
    box-sizing: border-box;
}

.controlsRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 100%;
    margin: 2rem auto 1rem auto;
    padding: 0 32px;
    font-size: 1.3rem;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: #f65261;

    span {
        color: f65261;
        font-weight: 300;
    }
}

.addBtn {
    background-color: #555555;
    border: none;
    border-radius: 0.2rem;
    width: 200px;
    height: 60px;
    color: #f65261;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
}

.successMessage {
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.tickMark {
    font-size: 4rem;
    color: #f65261;
    margin-bottom: 1rem;
}

.deleteDialog {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    gap: 10px;
    padding: 20px 30px 30px;
}

.deleteDialogContent h2 {
    margin-top: 0;
    font-size: 24px;
}

.confirmButton {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #d33c49;
    color: #fff;
    border-radius: 0.3rem;
    border: none;
    align-self: flex-end;
}

.searchSection {
    background-image: url('./assets/searchBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 120px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}