.button {
    padding: 8px 12px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.button.selected {
    background-color: #f65261;
    color: #fff;
    background-color: #d33c49;
    border: none;
}

.genreSelectRow {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}