.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-bold {
    font-weight: bold;
}

.sortControl {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px;
    background-color: #292929;
    border-radius: 8px;
    color: #fff;

    label {
        font-weight: 500;
    }

    select {
        padding: 6px 10px;
        border-radius: 4px;
        border: none;
        background: #444;
        color: white;
        font-size: 0.95rem;
    }
}